<p>This is the about view.</p>
<ul>
    <li ng-repeat="value in ctrl.awesomeThings">
        {{value}}
    </li>
</ul>
<div class="videogular-container">
    <videogular vg-theme="ctrl.config.theme.url" class="videogular-container audio">
        <vg-media vg-src="ctrl.config.sources" vg-type="audio"></vg-media>

        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
        </vg-controls>
    </videogular>
</div>
